// Base

#main {
	float: left;
}

#info {
	float: right;
}

.hidden {
	display: none;
}

// TodoList 

#todo-list {
	input.edit {
		display: none;
	}

	.editing {
		.view {
			display: none;
		}
		.edit {
			display: block;
		}
	}
}

.completed {
	background-color: green;
}